<div [attr.id]="id" [ngClass]="{'carousel component':true, 'carousel-vertical': isVertical(), 'carousel-horizontal': !isVertical()}" [ngStyle]="style" [class]="styleClass">
    <div class="carousel-header" *ngIf="headerTemplate">
        <ng-content select="header"></ng-content>
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>
    <div [class]="contentClass" [ngClass]="'carousel-content'">
        <div class="carousel-container">
            <button type="button" [ngClass]="{'carousel-prev link':true, 'disabled': isBackwardNavDisabled()}" [disabled]="isBackwardNavDisabled()" (click)="navBackward($event)" pRipple>
                <span [ngClass]="{'carousel-prev-icon pi': true, 'pi-chevron-left': !isVertical(), 'pi-chevron-up': isVertical()}">Prev</span>
            </button>
            <div class="carousel-items-content" [ngStyle]="{'height': isVertical() ? verticalViewPortHeight : 'auto'}">
                <div #itemsContainer class="carousel-items-container" (transitionend)="onTransitionEnd()" (touchend)="onTouchEnd($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">
                    <div *ngFor="let item of clonedItemsForStarting; let index = index" [ngClass]= "{'carousel-item carousel-item-cloned': true,
                        'carousel-item-active': (totalShiftedItems * -1) === (value.length),
                        'carousel-item-start': 0 === index,
                        'carousel-item-end': (clonedItemsForStarting.length - 1) === index}">
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item}"></ng-container>
                    </div>
                    <div *ngFor="let item of value; let index = index" [ngClass]= "{'carousel-item': true,
                        'carousel-item-active': (firstIndex() <= index && lastIndex() >= index),
                        'carousel-item-start': firstIndex() === index,
                        'carousel-item-end': lastIndex() === index}">
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item}"></ng-container>
                    </div>
                    <div *ngFor="let item of clonedItemsForFinishing; let index = index" [ngClass]= "{'carousel-item carousel-item-cloned': true,
                        'carousel-item-active': ((totalShiftedItems *-1) === numVisible),
                        'carousel-item-start': 0 === index,
                        'carousel-item-end': (clonedItemsForFinishing.length - 1) === index}">
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item}"></ng-container>
                    </div>
                </div>
            </div>
            <button type="button" [ngClass]="{'carousel-next link': true, 'disabled': isForwardNavDisabled()}" [disabled]="isForwardNavDisabled()" (click)="navForward($event)" pRipple>
                <span [ngClass]="{'carousel-prev-icon pi': true, 'pi-chevron-right': !isVertical(), 'pi-chevron-down': isVertical()}">Next</span>
            </button>
        </div>
        <ul [ngClass]="'carousel-indicators reset'" [class]="indicatorsContentClass">
            <li *ngFor="let totalDot of totalDotsArray(); let i = index" [ngClass]="{'carousel-indicator':true,'highlight': _page === i}">
                <button type="button" class="link" (click)="onDotClick($event, i)">btn</button>
            </li>
        </ul>
    </div>
    <div class="carousel-footer" *ngIf="footerTemplate">
        <ng-content select="footer"></ng-content>
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
</div>